*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/
.svn/
PushSDK/
app/app-miui.apk
app/build/
app/libs/mips/
app/libs/mips64/
library_pullToRefresh/build/generated/assets/
library_pullToRefresh/build/generated/res/
library_pullToRefresh/build/generated/source/aidl/
library_pullToRefresh/build/generated/source/apt/
library_pullToRefresh/build/generated/source/rs/
library_pullToRefresh/build/intermediates/blame/res/debug/
library_pullToRefresh/build/intermediates/blame/res/release/
library_pullToRefresh/build/intermediates/bundles/debug/aidl/
library_pullToRefresh/build/intermediates/bundles/debug/assets/
library_pullToRefresh/build/intermediates/bundles/release/aidl/
library_pullToRefresh/build/intermediates/bundles/release/assets/
library_pullToRefresh/build/intermediates/bundles/release/jni/
library_pullToRefresh/build/intermediates/bundles/release/libs/
library_pullToRefresh/build/intermediates/dependency-cache/
library_pullToRefresh/build/intermediates/exploded-aar/
library_pullToRefresh/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
library_pullToRefresh/build/intermediates/incremental/mergeDebugResources/
library_pullToRefresh/build/intermediates/incremental/mergeReleaseResources/
library_pullToRefresh/build/intermediates/incremental/packageDebugAndroidTest/
library_pullToRefresh/build/intermediates/incremental/packageDebugResources/aapt-temp/
library_pullToRefresh/build/intermediates/incremental/packageReleaseResources/aapt-temp/
library_pullToRefresh/build/intermediates/incremental/processDebugAndroidTestResources/
library_pullToRefresh/build/intermediates/incremental/processDebugResources/
library_pullToRefresh/build/intermediates/incremental/processReleaseResources/
library_pullToRefresh/build/intermediates/jniLibs/
library_pullToRefresh/build/intermediates/lint/
library_pullToRefresh/build/intermediates/manifest/tmp/
library_pullToRefresh/build/intermediates/multi-dex/
library_pullToRefresh/build/intermediates/res/merged/debug/
library_pullToRefresh/build/intermediates/res/merged/release/
library_pullToRefresh/build/intermediates/rs/
library_pullToRefresh/build/intermediates/shaders/
library_pullToRefresh/build/intermediates/transforms/
library_pullToRefresh/build/tmp/
